.create-page-heading{
    font-size: 3em!important;
    margin: 0.5em 0 0.5em 0.3em!important;
}

.sm-screen-create-page-heading{
    font-size: 2em!important;
    margin: 0.5em 0 1em 0.3em!important;
}

.start-learning-container{
    text-align: right;
    .start-learning-btn{
        margin: 0 1em 1em 0;
        .start-learning-link{
            text-decoration: none;
            color:white;
        }
    }
    
}
