@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
body{
    /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-color: lightgray; */
    background-color: #EFEFEF;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

}

