.edit-input{
    // padding: 2em;
    // width: 100%;
}

.text-area{
    &:focus{
        outline: none
    }
}

.img-icon-container{
    border: 2px dashed lightgray;
    padding: 1em 2.5em;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    cursor: pointer;
    &:hover .img-icon{
         color:#FFCD1F; 
        }
}

.btns-container{
    // display: flex;
    // flex-direction: column!important;
    // justify-content: space-around;
    // height: 100%;
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    padding: 0.4em 0.4em 0.4em 0;
    gap: 0.4em;
}

.sm-screen-btns-container{
    display: flex;
    gap: 0.4em;
    padding: 0.2em
}

.textareas-container{
    display: flex;
    justify-content: space-around;
}

.sm-screen-textareas-container{
    display: flex;
    flex-direction: column!important;
    // gap: 0.4em;
    padding: 1.2em
}


.card-nr{
    width: 96%;
    margin: 0 auto!important;
    padding: 0.5em;
    font-weight: bold!important;
    color: grey;
}

.flashCardPaper{
    height: 12em;
    display: flex;
    align-items: center;
    height: 100%;
}

.btn{
    width: 100%;
}